<div class="header-container">
    <div class="container">
        <div class="row">
            <div class="column col-md-<%- size[0] || 12 %> widget-list">
                <%- column[0] %>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
      <div class="column col-md-<%- size[1] || 8 %>">
          <div class="module-list">
              <%- column[1] %>
          </div>
          <div class="row">
              <div class="column subcolumn col-md-<%- size[2] || 6 %> widget-list"><%- column[2] %></div>
              <div class="column subcolumn col-md-<%- size[3] || 6 %> widget-list"><%- column[3] %></div>
          </div>
      </div>
      <div class="column col-md-<%- size[4] || 4 %> widget-list"><%- column.slice(4).join(' ') %></div>
  </div>
</div>

<div class="cols23">
  <div class="halfHeight">
    <div class="col">1</div>
  </div>
  <div class="halfHeight cols3">
    <div class="col">2</div>
    <div class="col">3</div>
  </div>
</div>
<div class="cols13 cols3">
  <div class="col">4</div>
</div>
