<div class="page-title">
    <h3><%- t('users.headers.manageCommunity') %></h3>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs pull-right filter-tabs">
            <% filterTabs.forEach(function (tab) { %>
                <% tabUrl = pathFor(tab.module || 'admin')[tab.url] || tab.url %>
                <li <%- tab.active ? 'class="active"':'' %>>
                    <a href="<%- tabUrl %>">
                        <%- t(tab.name) || tab.name %>
                    </a>
                </li>
            <% }) %>
        </ul>
        <div class="grid simple">
            <div class="grid-body">
                <div class="pull-left">
                    <% var caret = ' <span class="caret"></span>'; %>

                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%- t('users.actions.memberActions') %> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><%- linkTo(t('users.actions.sendMessage'), pathTo.sendMessageTo(), { rel: 'multiAjaxLink' }) %></li>
                            <li><%- linkTo(t('users.actions.removeMembers'), pathTo.removeMembers(), { rel: 'multiAjaxLink' }) %></li>
                            <li><%- linkTo(t('users.actions.blacklistMembers'), pathTo.blacklistMembers(), { rel: 'multiAjaxLink' }) %></li>
                            <li><%- linkTo(t('users.actions.unblacklistMembers'), pathTo.unblacklistMembers(), { rel: 'multiAjaxLink' }) %></li>
                        </ul>
                    </div>
                    &nbsp;
                    <% if (tags.length > 0) { %>
                        <div class="btn-group">
                            <%- buttonTag(t('users.actions.addTag') + caret, {
                                class: 'btn dropdown-toggle',
                                'data-toggle': 'dropdown'}) %>
                            <ul class="dropdown-menu">
                                <% tags.forEach(function(tag) { %>
                                    <% if(!tag) return; %>
                                    <li><%- linkTo(tag.title,
                                        pathTo.addToTag('users', tag.id),
                                        {rel: 'multiAjaxLink'}) %></li>
                                <% }) %>
                            </ul>
                        </div>
                        &nbsp;
                        <div class="btn-group">
                            <%- buttonTag(t('users.actions.removeTag') + caret, {
                                class: 'btn dropdown-toggle',
                                'data-toggle': 'dropdown'}) %>
                            <ul class="dropdown-menu">
                                <% tags.forEach(function(tag) { %>
                                    <% if (!tag) return; %>
                                    <li><%- linkTo(tag.title,
                                        pathTo.removeFromTag('users', tag.id),
                                        {rel: 'multiAjaxLink'}) %></li>
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>
                </div>

                <table class="table members-table" id="members-table">
                    <thead>
                        <tr>
                            <th width="3%" role="columnheader">
                                <div class="checkbox check-default">
                                    <input type="checkbox" value="all" id="selectAllUsers" rel="tooltip" title="Select all users" />    
                                    <label for="selectAllUsers"></label>
                                </div>
                            </th>
                            <th role="columnheader">
                                <%- t('users.headers.memberName') %>
                            </th>
                            <th width="300" role="columnheader">
                                <%- t('users.headers.tags') %>
                            </th>
                            <th width="110" role="columnheader">
                                <%- t('users.headers.membership') %>
                            </th>
                            <th width="130" role="columnheader">
                                <%- t('users.headers.since') %>
                            </th>
                            <th width="80" role="columnheader">
                                <%- t('users.headers.actions') %>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">
                                <div class="loading-spacer">

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="clearfix"></div>
              </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    <% include js/userstable.js %>
</script>
