<div class="row-fluid">

    <%- renderPartial('../content/_sidebar') %>

    <div class="span10">
        <div class="module">
            <div class="content content-table-content">

                <% var caret = ' <span class="caret"></span>'; %>

                <div class="pull-left">
                    <div class="btn-group pull-left" style="margin-right : 3px;">
                        <%- buttonTag(t('content.actions.common') + caret, {
                            class: 'btn btn-primary dropdown-toggle',
                            'data-toggle': 'dropdown'}) %>
                        <ul class="dropdown-menu">
                            <li><%- linkTo(icon('remove') + t('content.actions.delete'),
                                pathTo.destroySelectedContent + '?type=' + type,
                                {rel: 'multiAjaxLink', method: 'DELETE'}) %></li>
                        </ul>
                    </div>
                </div>

                <table class="table table-striped" id="content-table">
                    <thead>
                        <tr>
                            <th width="3%">
                                <%- inputTag({type: 'checkbox', class: 'checkbox',
                                    id: 'selectAllContent'}) %>
                            </th>
                            <th width="70">
                                <%= t('content.tableHead.author') %>
                            </th>
                            <th>
                                <%= t('content.tableHead.text') %>
                            </th>
                            <th width="150">
                                <%= t('content.tableHead.createdAt') %>
                            </th>
                            <th width="90">
                                <%= t('content.tableHead.flags') %>
                            </th>
                            <th width="60" align="right">
                                <%= t('content.tableHead.actions') %>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7">
                                <div class="loading-spacer"><%= t('content.loading') %></div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var profilePath = '<%- specialPagePath('profile') %>';

        // setup ajax links
        $("a[rel=multiAjaxLink]").on("click", function() {
            if(window.selectedContent.length > 0) {
                var method = $(this).attr('data-method');
                if (!method) method = 'POST';
                $.ajax(this.href, {
                    type: 'POST',
                    data: {
                        _method: method,
                        ids: window.selectedContent,
                        selectedContent: window.selectedContent,
                        unselectedContent: window.unselectedContent,
                        type: '<%- type %>',
                        search: $('#content-table_filter input').val()
                    },
                    success: function(data) {
                        if(data.redirect) {
                            window.location = data.redirect;
                        } else {
                            // show notification
                            $.noty({ text: '<i class="icon-ok"></i> ' + data.message, type: 'success' });

                            // redraw table
                            window.table.fnDraw(false);

                            setTimeout(function () {
                                // update tag counts
                                refreshTagCounts();
                            }, 500);
                        }
                    }
                });
            } else {
                alert("Please select some content!");
            }

            // hide the menu
            $(this).parents(".btn-group").removeClass("open");

            return false;
        });

        function refreshTagCounts() {
            $.ajax('<%- pathTo.tagsCounts('content') %>', {
                success: function (data) {
                    data.tags.forEach(function (tag) {
                        $('#tagCount-' + tag.id).text(tag.count);
                    });
                }
            });
        }

        // handle the selectAllContent checkbox events
        $("#selectAllContent").on("click", function() {
            if(this.checked) {
                // check all checkboxes
                $("#content-table tbody input[type=checkbox]").attr("checked", true);

                // reset the selected content array with only the "all" value
                $.ajax('<%- pathTo.moderationIds %>?type=<%- type %>&sSearch=' + $('#content-table_filter input').val(), {
                    success: function (data) {
                        window.selectedContent = data.ids;
                    }
                });
            } else {
                // unselect all content
                window.selectedContent = [];

                // uncheck all checkboxes
                $("#content-table tbody input[type=checkbox]").attr("checked", null);
            }
        });

        // setup user arrays
        window.selectedContent = [];
        window.unselectedContent = [];

        window.table = $('#content-table').dataTable( {
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "<%- pathTo.loadModeration %>?type=<%- type %>",
            "fnDrawCallback": function() {
                // setup tooltips
                $('#content-table *[rel=tooltip]').tooltip();

                // setup ajax actions
                $('#content-table a[data-remote]').on("ajax:success", function() {
                    //show notification
                    $.noty({ text: '<i class="icon-ok"></i> ' + $(this).attr("data-success"), type: 'success' });

                    // redraw table
                    window.table.fnDraw(false);

                    refreshTagCounts();
                });

                // click the checkboxes which are ticked
                $("#content-table tbody input[type=checkbox]").each(function(i, checkbox) {
                    if(window.selectedContent.indexOf(checkbox.value) > -1 || (window.selectedContent.indexOf("all") > -1 && window.unselectedContent.indexOf(checkbox.value) == -1)) {
                        checkbox.checked = true;
                    }
                });

                // attach events to the checkboxes
                $("#content-table tbody input[type=checkbox]").on("click", function() {
                    if (this.checked) {
                        window.selectedContent.push(this.value);
                        if (window.unselectedContent.indexOf(this.value) > -1) {
                            window.unselectedContent.splice(window.unselectedContent.indexOf(this.value), 1);
                        }
                    } else {
                        if (window.selectedContent.indexOf(this.value) > -1) {
                            window.selectedContent.splice(window.selectedContent.indexOf(this.value), 1);
                        }
                        window.unselectedContent.push(this.value);
                    }
                });
            },
            "aoColumns": [
                { "mDataProp": null,
                    "fnRender": function(obj, val) {
                        var content = obj.aData;
                        var checkbox = '<input type="checkbox" value="' + content.id + '" />';
                        return checkbox;
                    }
                },
                { "mDataProp": null,
                    fnRender: function (obj, val) {
                        var content = obj.aData;
                        var author = content.author && content.author.username;

                        if (!author) {
                            return '<span>deleted</span>'
                        }

                        var profileUrl = profilePath + '?username=' + author;
                        return '<a href="' + profileUrl + '" class="title">' + author + '</a>';
                    }
                },
                { "mDataProp": null,
                    fnRender: function(obj, val) {
                        var content = obj.aData;
                        var text = content.title || content.text;

                        text = text.substring(0, Math.min(32, text.length)) + (text.length > 32 ? '...':'');
                        text = text || '<span class="muted"><%= __('untitled post') %></span>';

                        return text;
                    }
                },
                { "mDataProp": "createdAt" },
                { "mDataProp": null,
                    "fnRender" : function(obj, val) {
                        var content = obj.aData;
                        var html = '<i class="icon-flag"></i> x' + content.flags.length;

                        return html;
                    }
                },
                { "mDataProp": null,
                    "fnRender" : function(obj, val) {
                        var content = obj.aData;
                        var html = '<div class="pull-right">';

                        html += '<a href="<%- pathTo.content %>/' + content.id + '/unflag" data-remote="true" data-success="Unflagged" rel="tooltip" title="Unflag"><i class="icon-ok"></i></a>';
                        html += ' &nbsp;<a href="<%- pathTo.destroyComment("' + content.id + '") %>" data-remote="true" data-method="DELETE" data-confirm="<%= t('comment.actions.destroyConfirm') %>" rel="tooltip" title="<%- t('comment.actions.destroy') %>"><i class="icon-remove"></i></a>';
                        html += ' &nbsp;<a href="<%- pathTo.content %>/' + content.id + '/ban" rel="tooltip" title="Delete and blacklist author"><i class="icon-ban-circle"></i></a>';

                        html += '</div>';

                        return html;
                    }
                }
            ],
            "sDom": "<''<'pull-right'f>r>t<''<'pull-left'l><'pull-left'i><'pull-right'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ <%= t('common.itemsPerPage') %>"
            },
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ 0, 4 ] }
            ]
        } );
    } );
</script>
